/*###############################  REFERENCE ###############################
center-width-not-defined {
    text-align: center;
}

center-width-defined {
    margin: 0 auto 0 auto;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=DotGothic16&family=Forum&family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,400&family=IBM+Plex+Serif&family=Qwitcher+Grypen&family=Zilla+Slab&display=swap');


/*############################### TAG SELECTORS ###############################*/
html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

a { color: inherit; }

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

img {
    border-style: groove;
    border-width: 5px;
    border-color: #FEFBF6;
    border-image-outset: 10px;
}


table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: left
}

p{
    margin:0
}

hr {
    border-style: dotted none none;
    border-width: 8px;
    width: 3%;
    border-color: #3D3C42;
    margin-top: 0;
    margin-bottom: 0;
}

/*############################### CLASS SELECTORS ###############################*/

.page-body {
    flex-grow: 1;
}


.heading {
    margin: 0;
    padding: 0;

    font-family: 'IBM Plex Serif', serif;

    color: black;
    -webkit-text-fill-color: #7F5283;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #3D3C42;
}

.mission {
    border-style: solid;
    /*border-width: 10px 5% 10px 40%;*/
    background-color: #645CAA;
    border-color: #072227;
    border-radius: 12px;
    border-width: 3px;
    display: inline-block;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1rem;
    margin: 20;
    position: relative;

    text-transform: uppercase;

    animation: shad-anim 15s linear infinite;
    
}


.japanese {
    font-family: 'DotGothic16', sans-serif;
    font-size:larger
}


.kanye{
    position: absolute;
    right: 10%;
    top: 50px;
}

.footer{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;

    background-color: #3D3C42;

    margin: 0;
    padding: 0;
}

.contact{
    font-family:monospace;
    display: inline;
    
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 2px;
    padding: 0;
}

.contact a{
    color: black;
    -webkit-text-fill-color: #000000;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #3D3C42;
}


/*############################### ID SELECTORS ###############################*/

#title {
    font-size: 7rem;
    font-family: 'Qwitcher Grypen', cursive;

    color: #474747;


    margin: 0;
    padding: 0;
}
#title::after {
    content: attr(data-shadow);
    position: absolute;
    transform: translate(-98%,+2%);

    z-index: -0;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }


#top-container{
    background-color: #EBC7E8;

    font-family: 'IBM Plex Mono', monospace;

    margin: 0;
    padding-right: 0;

    padding-bottom: 20px;
    z-index: -2;
}
#middle-container {
    background-color: #BFACE0;

    font-family: 'IBM Plex Mono', monospace;


    margin: 0;
    padding-right: 0;
    padding-top: 3%;
    padding-bottom: 3%;
}

#bottom-container {
    background-color: #A084CA;

    font-family: 'IBM Plex Mono', monospace;


    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.brief-history-header{
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
}


#william-image{
    
}

