/*############################### TAG SELECTORS ###############################*/
body {
    background-color: #A6D1E6;
    text-align: center;
}


img{
    border-style:groove;
    border-width: 5px;
    border-color: #FEFBF6;
    border-image-outset: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: left
}

hr {
    border-style: dotted none none;
    border-width: 8px;
    width: 3%;
    border-color: #FEFBF6;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*############################### CLASS SELECTORS ###############################*/

.header{
    color: black;
    -webkit-text-fill-color: #7F5283;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #3D3C42;
}

.focal-point{
    background-color: #FEFBF6;
}

/*############################### ID SELECTORS ###############################*/

#title{
    font-size: 50px;
    color: black;
    -webkit-text-fill-color: #3D3C42;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #7F5283;
}