/*###############################  REFERENCE ###############################
center-width-not-defined {
    text-align: center;
}

center-width-defined {
    margin: 0 auto 0 auto;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Aubrey&family=Bebas+Neue&family=DotGothic16&family=Flamenco:wght@300;400&family=Forum&family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,400&family=IBM+Plex+Serif&family=Qwitcher+Grypen&family=Zilla+Slab&display=swap');


/*############################### TAG SELECTORS ###############################*/
html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

a { color: inherit; }

body {
    overflow: overlay;
    min-width: 100vh
}

body::-webkit-scrollbar, textarea::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    scroll-padding-right: 9px;
  }
  
  body::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background-color: #FFE6F7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #BFACE0;  /* creates padding around scroll thumb */
  }

  ::-webkit-resizer {
    display: none;
  }


figure{
    margin: 16px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

img {
    border-style: groove;
    border-width: 5px;
    border-color: #FEFBF6;
    border-image-outset: 10px;
}

input {
    border-style: solid;
    /*border-width: 10px 5% 10px 40%;*/
    background-color: #645CAA;
    border-color: #EBC7E8;
    border-radius: 12px;
    border-width: 3px 3px 3px 8px;

    color: #EBC7E8;
    
    transform-origin: bottom right;
    transition: color 0.25s ease-out;
    transition: border-color 0.25s ease-out;
    transition: border-width 0.25s ease-out;
}

input[type=text], input[type=email ] {
    background-color: #645CAA;
    text-indent: 0.5em;
}

textarea{
    border-radius: 8px;
    font-size: 0.9rem;
    padding: 20px;
}


 input[type=submit]:hover {
    border-style: solid;
    /*border-width: 10px 5% 10px 40%;*/
    background-color: #645CAA;
    border-color: aliceblue;
    border-radius: 12px;
    border-width: 3px 3px 3px 12px;

    color: aliceblue;
 }


table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: left
}

textarea{
    background-color: #EBC7E8;
    color: #A084CA;

    border-radius: 8px;
    font-size: 0.9rem;

    padding: 1rem;

    text-align: center;

    font-weight: bolder;
}

p{
    margin:0
}

hr {
    border-style: dotted none none;
    border-width: 8px;
    width: 3%;
    border-color: #474747;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 0;
}

/*############################### CLASS SELECTORS ###############################*/

.page-body {
    flex-grow: 1;
}


.heading {
    margin: 8px 0 2px 0;
    padding: 0;
    font-weight: 600;
    font-size: 2rem;

    font-family: 'Aubrey', cursive;
    text-transform: lowercase;
    color: #EBC7E8;
    /* -webkit-text-fill-color: #7F5283;
    /* Will override color (regardless of order)
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #3D3C42; */
}

.lowercase{
    text-transform: lowercase;
}

.focus-a {
    border-style: solid;
    /*border-width: 10px 5% 10px 40%;*/
    background-color: #645CAA;
    border-color: #EBC7E8;
    border-radius: 12px;
    border-width: 3px 3px 3px 20px;

    color: #EBC7E8;

    display: inline-block;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1rem;

    line-height: 2rem;
    margin: 0 0 20px 0;

    min-width: 400px;

    padding: 10px 20px 0 0;
    position: relative;

    text-transform: uppercase;
    

    animation: shad-anim 15s linear infinite;
    
}

.focus-b {
    border-style: solid;
    /*border-width: 10px 5% 10px 40%;*/
    background-color: #645CAA;
    border-color: #A084CA;
    border-radius: 12px;
    border-width: 3px 3px 3px 20px;

    color: #EBC7E8;

    display: inline-block;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1rem;

    line-height: 2rem;
    margin: 0 0 20px 0;

    min-width: 600px;

    padding: 10px 20px 0 0;
    position: relative;

    text-transform: uppercase;
    

    animation: shad-anim 15s linear infinite;
    
}

.focus-a a, .focus-b a{
    text-decoration: none;  
    display: inline-block;
    position: relative;
    color: #EBC7E8;}

.focus-a a:hover, .focus-b a:hover{
    color:aliceblue;
    text-decoration: none;

}

.focus-a a:after, .focus-b a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .focus-a a:hover:after, .focus-b a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.focus-a hr, .focus-b hr{
    border-color: #EBC7E8;

    border-style: solid none none;
    border-width: 1px;
    width: 9%;
    margin-top: 0;
    margin-bottom: 10px;
}

.focus-a td, .focus-b td{
    padding: 10px 40px 15px 20px;
}

.focus-a th, .focus-b th{
    font-family: 'Aubrey', cursive;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-weight: 100;
    padding-left: 45px;
}

.focus-a .th-right, .focus-b .th-right{
    padding-left: 80px;
}

.significant-events{
    padding: 30px;
}

.sub-list{
    text-transform: lowercase;
}

.sub-list li::marker{
    content: "    ▒";
    color: #EBC7E8;

    direction: ltr;

    margin-left: 1rem;

    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
}


.japanese {
    font-family: 'DotGothic16', sans-serif;
    font-size:larger
}


.kanye{
    position: absolute;
    right: 10%;
    top: 50px;
}

.footer{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;

    background-color: #3D3C42;

    margin: 0;
    padding: 0;
}

.contact{
    font-family:monospace;
    display: inline;
    
    position: fixed;
    bottom: 0;
    right: 0;

    margin-bottom: 2px;
    padding: 0 10px;

    z-index: 1;
}

.contact a{
    color: black;

    text-decoration: none;  
    display: inline-block;
    position: relative;

}

.contact a:hover{
    color:aliceblue;
    text-decoration: none;

}

.contact a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .contact a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/*############################### ID SELECTORS ###############################*/

#title {
    font-size: 7rem;
    font-family: 'Qwitcher Grypen', cursive;
    font-weight: 600;
    color: #474747;


    margin: 0;
    padding: 0;

    white-space: nowrap;

}
#title::after {
    content: attr(data-shadow);

    position: absolute;
    transform: translate(-98%,+2%);

    white-space: nowrap;

    z-index: -0;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }




#top-container{
    background-color: #EBC7E8;

    font-family: 'IBM Plex Mono', monospace;

    margin: 0;
    padding-right: 0;

    padding-bottom: 20px;
    z-index: -2;
}
#middle-container {
    background-color: #BFACE0;
    /* border-radius: 4%; */

    font-family: 'IBM Plex Mono', monospace;


    margin: 0;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 3%;
}

#bottom-container {
    background-color: #A084CA;

    font-family: 'IBM Plex Mono', monospace;


    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.brief-history-header{
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
}


#william-image{
    
}

